@import "./header_module.css";
@import "./stylemodule.css";

.bicicletas_intro_conteiner {
  background-color: var(--c11);
}
.bicicletas_intro {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: var(--spacing20);
  padding-top: var(--spacing40);
}

.bicicletas_intro p {
  margin-bottom: var(--spacing08);
}
.bicicletas_intro h1 {
  padding-bottom: var(--spacing60);
  /* margin-bottom: var(--spacing120); */
}
.bikeprodutos {
  padding-top: var(--spacing120);
  background-color: var(--w);
}

.bikeprodutos__card {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--spacing40);
  position: relative;
}
.bikeprodutos__img {
  max-width: 500px;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.bikeprodutos__img_conteiner::after {
  content: "R$ 4999";
  font-size: 1rem;
  border-radius: 5px 0px 0px 5px;
  color: var(--w);
  background-color: black;
  padding: 8px 16px;
  position: absolute;
  text-align: center;
  left: 413px;
  top: 20px;
}

.bikeprodutos__titulo::before {
  content: " ";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
}

.bikeprodutos__paragrafo {
  max-width: 45ch;
}

.bikeprodutos__item {
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
}
.bikeprodutos__item::before {
  content: url("../img/icones/eletrica.svg");
  margin-right: 5px;
}
.teste {
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
}
.teste__link {
  place-self: end;
  position: absolute;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  padding: 7px 32px;
  right: -50px;
  border-radius: 5px;
}
