@import "./style.css";

.menu {
  background-color: var(--bg_color);
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto 0 auto;
  flex-wrap: wrap;
}
.menu__list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu__link {
  color: var(--cor_principal_letras);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 32px;
}

.menu__link:hover {
  text-decoration: underline var(--p1) 2px;
}

@media (max-width: 1250px) {
  .menu {
    margin: 32px 20px 0 20px;
  }
}
@media (max-width: 500px) {
  .menu {
    justify-content: center;
    gap: 30px;
  }
  .menu__link {
    background-color: var(--p1);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
}

.intro {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 32px auto 0 auto;
  gap: 88px;
}

.intro__texto {
  /* margin-left: 150px; */
  align-self: center;
}
