@import "./style.css";

.menu {
  background-color: var(--c12);
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto 0 auto;
  flex-wrap: wrap;
}
.menu__list {
  display: flex;
  gap: 40px;
}

.menu__link {
  color: var(--w);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 32px;
}

.menu__link:hover {
  text-decoration: underline var(--p1) 2px;
}

.intro {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 200px auto 120px auto;
  gap: 88px;
  position: relative;
}

.intro__texto {
  margin-left: 50px;
  align-self: center;
}

.intro__h1 {
  color: var(--w);
  max-width: 15ch;
}

.intro__paragrafo {
  margin-top: 32px;
  margin-bottom: 20px;
}
.intro__img {
  /* align-self: flex-end; */
  position: absolute;
  top: -175px;
  max-width: 100%;
  grid-column: 2;
}

.intro__link {
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  padding: 16px 32px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
}
.intro__link:hover {
  background: var(--p1);
  transition: 1.5;
}

.produtos {
  background-color: white;
  padding-top: 120px;
  padding-bottom: var(--spacing200);
}

.produtos__tituloConteiner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.produtos__titulo {
  color: var(--c12);
  margin-bottom: var(--spacing40);
}

.produtos__cards {
  display: flex;
  gap: var(--spacing40);
  justify-content: center;
  margin: var(--spacing72);
}
.produtos__item {
  position: relative;
}
.produtos_img {
  border-radius: 5px;
}

.produtos__cardTitutlo {
  margin: var(--spacing16) 0px var(--spacing08) 0px;
  display: flex;
  align-items: center;
  margin-left: var(--spacing20);
  color: var(--c11);
}
.produtos__preço {
  margin-left: var(--spacing20);
  color: var(--c8);
}

.produtos__cardTitutlo::before {
  content: " ";
  /* display: inline-block; */
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  position: absolute;
  left: 1px;
}

.vantagens {
  color: var(--w);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--spacing60);
  position: relative;
}
.vantagens__subtitulo {
  margin-top: var(--spacing80);
  margin-bottom: var(--spacing20);
}
.vantagens__imagem {
  position: absolute;
  grid-column: 2;
  top: -84px;
}

.vantagens__atributos {
  display: flex;
  gap: var(--spacing40);
  padding-bottom: var(--spacing48);
}

.vantagens__link {
  display: inline-block;
  margin-top: var(--spacing20);
  margin-bottom: var(--spacing48);
  border-bottom: 3px solid var(--p1);
}

.vantagens__atributosMotor::before {
  content: url("../img/icones/eletrica.svg");
  display: block;
}
.vantagens__atributos2Rastreador::before {
  content: url("../img/icones/rastreador.svg");
  display: block;
}

.parceiros {
  padding-top: var(--spacing160);
  background-color: var(--w);
  padding-bottom: var(--spacing160);
}

.parceiros__titulo {
  max-width: 1200px;
  margin: 0 auto;
}
.parceiros__conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  margin-top: var(--spacing60);
  margin-bottom: var(--spacing160);
  background-color: rgba(128, 128, 128, 0.171);
}
.parceiros_img {
  padding: 10px;
  text-align: center;
  background-color: white;
}

.parceiro__subconteiner {
  display: flex;
  justify-content: space-around;
  width: 700px;
  gap: 2px;
}

.item {
  justify-self: center;
  align-self: center;
  /* width: 150;
  height: 75px; */
  padding: 5px;

  background-color: white;
}

.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p1);
  align-items: center;
  justify-items: center;
}

.depoimento__img {
  max-width: 100%;
  object-fit: cover;
  grid-row: 1/3;
}
.depoimento__texto {
  max-width: 25ch;
  font-size: 2.25rem;
  font-family: "Merriweather";
  font-weight: 900;
  position: relative;
}
.depoimento__conteinerTexto {
  grid-area: 2 / 2;
  margin-bottom: var(--spacing80);
}

.depoimento__texto::after {
  content: url("../img/icones/quotationmarkdown.svg");
  position: absolute;
  bottom: -20px;
}
.depoimento__texto::before {
  content: url("../img/icones/quotationmarkup.svg");
  position: absolute;
  top: -10px;
  left: -40px;
}

.seguros {
  padding: 100px;
  background-color: white;
}

@media (max-width: 1250px) {
  .menu {
    margin: 32px 20px 0 20px;
  }
}
@media (max-width: 500px) {
  .menu {
    justify-content: center;
    gap: 30px;
  }
  .menu__link {
    background-color: var(--p1);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
}
