@import "./stylemodule.css";

.menu {
  background-color: var(--c12);
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto 0 auto;
  flex-wrap: wrap;
}
.menu__list {
  display: flex;
  gap: 40px;
}

.menu__link {
  color: var(--w);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 32px;
}

.menu__link:hover {
  text-decoration: underline var(--p1) 2px;
}

.intro {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 200px auto 120px auto;
  gap: 88px;
  position: relative;
}

.intro__texto {
  margin-left: 50px;
  align-self: center;
}

.intro__h1 {
  color: var(--w);
  max-width: 15ch;
}

.intro__paragrafo {
  margin-top: 32px;
  margin-bottom: 20px;
}
.intro__img {
  position: absolute;
  top: -175px;
  grid-column: 2;
  object-fit: cover;
  max-width: 100%;
}

.intro__link {
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  padding: 16px 32px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
}
.intro__link:hover {
  background: var(--p1);
  transition: 1.5;
}

.produtos {
  background-color: white;
  padding-top: var(--spacing120);
  padding-bottom: var(--spacing200);
}

.produtos__tituloConteiner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.produtos__titulo {
  color: var(--c12);
  margin-bottom: var(--spacing40);
}

.produtos__cards {
  display: flex;
  gap: var(--spacing40);
  justify-content: center;
  margin: var(--spacing72);
}
.produtos__item {
  position: relative;
}
.produtos_img {
  border-radius: 5px;
  object-fit: cover;
  max-width: 100%;
}

.produtos__cardTitutlo {
  margin: var(--spacing16) 0px var(--spacing08) 0px;
  display: flex;
  align-items: center;
  margin-left: var(--spacing20);
  color: var(--c11);
}
.produtos__preço {
  margin-left: var(--spacing20);
  color: var(--c8);
}

.produtos__cardTitutlo::before {
  content: " ";
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  position: absolute;
  left: 1px;
}

.vantagens {
  color: var(--w);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--spacing60);
  position: relative;
}
.vantagens__subtitulo {
  margin-top: var(--spacing80);
  margin-bottom: var(--spacing20);
}
.vantagens__imagem {
  position: absolute;
  grid-column: 2;
  top: -84px;
  object-fit: cover;
  max-width: 100%;
}

.vantagens__atributos {
  display: flex;
  gap: var(--spacing40);
  padding-bottom: var(--spacing48);
}

.vantagens__link {
  display: inline-block;
  margin-top: var(--spacing20);
  margin-bottom: var(--spacing48);
  border-bottom: 3px solid var(--p1);
}

.vantagens__atributosMotor::before {
  content: url("../img/icones/eletrica.svg");
  display: block;
}
.vantagens__atributos2Rastreador::before {
  content: url("../img/icones/rastreador.svg");
  display: block;
}

.parceiros {
  padding-top: var(--spacing160);
  background-color: var(--w);
  padding-bottom: var(--spacing160);
}

.parceiros__titulo {
  max-width: 1200px;
  margin: 0 auto;
}
.parceiros__conteiner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  margin-top: var(--spacing60);
  background-color: rgba(128, 128, 128, 0.171);
}
.parceiros_img {
  padding: 10px;
  text-align: center;
  background-color: white;
}

.parceiro__subconteiner {
  display: flex;
  justify-content: space-around;
  width: 700px;
  gap: 2px;
}

.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p1);
  align-items: center;
  justify-items: center;
}

.depoimento__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  grid-row: 1/3;
}
.depoimento__texto {
  max-width: 25ch;
  font-size: 2.25rem;
  font-family: "Merriweather";
  font-weight: 900;
  position: relative;
}
.depoimento__conteinerTexto {
  grid-area: 2 / 2;
  margin-bottom: var(--spacing80);
}

.depoimento__texto::after {
  content: url("../img/icones/quotationmarkdown.svg");
  position: absolute;
  bottom: -20px;
}
.depoimento__texto::before {
  content: url("../img/icones/quotationmarkup.svg");
  position: absolute;
  top: -10px;
  left: -40px;
}

.seguros {
  padding: 100px;
  background-color: var(--c11);
  color: var(--w);
}
.seguros__titulo {
  max-width: 1200px;
  margin: 0 auto;
}
.seguros__conteiner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--spacing40);
  margin-top: var(--spacing100);
  align-items: center;
}

.seguro__tipo {
  background-color: var(--c12);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: var(--spacing60);
  padding-top: var(--spacing32);
  padding: var(--spacing32) var(--spacing32) 0 var(--spacing60);
  max-width: 560px;
  justify-items: start;
}
.seguro__tipo--size {
  max-height: 666px;
}
.seguro__tipo h5 {
  text-transform: uppercase;
}
.seguro__plano {
  margin-bottom: var(--spacing40);
}
.seguros__valor {
  text-align: end;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}
.seguros__preço {
  position: relative;
}
.seguros__preço::after {
  content: "mensal";
  display: block;
  color: var(--c6);
  font-size: 0.75rem;
  position: absolute;
  right: 1px;
  bottom: -17px;
}
ul {
  position: relative;
}
.seguros__vantagem {
  margin-bottom: var(--spacing20);
  display: block;
}
.seguros__vantagem::before {
  content: url("../img/icones/lista.svg");
  position: absolute;
  left: -20px;
}
.seguros__link {
  background-color: var(--c10);
  padding: 16px 32px;
  margin: var(--spacing32) 0;
  display: inline-block;
  grid-column: 1/3;
}
.seguros__link:hover {
  background-color: var(--c8);
}

.seguros__link--ouro {
  background-color: var(--p1);
  color: var(--p5);
}

.seguros__link--ouro:hover {
  background-color: var(--p3);
}
.footer {
  background-color: var(--c12);
  color: var(--w);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  gap: var(--spacing120);
  margin-top: var(--spacing60);
  margin-left: auto;
  margin-right: auto;
}
.footer_titulo {
  margin: 0px;
}

.footer_endereço {
  border-bottom: 1px solid var(--c6);
  border-top: 1px solid var(--c6);
}

.footer_midias {
  margin-top: var(--spacing20);
  display: flex;
  gap: var(--spacing32);
}
.footer_listaInformações {
  margin-top: var(--spacing32);
}
.footer_list {
  margin-bottom: 10px;
}

@media (max-width: 1350px) {
  .intro__texto {
    margin-left: 20px;
  }
  .intro {
    margin-right: var(--spacing20);
  }
}
@media (max-width: 1300px) {
  .depoimento__texto {
    font-size: 1.75rem;
  }
}
@media (max-width: 1250px) {
  .menu {
    margin: var(--spacing32) var(--spacing20) 0 var(--spacing20);
  }
  .intro {
    gap: var(--spacing48);
  }
  .intro__h1 {
    font-size: 3rem;
  }
  .intro__paragrafo {
    font-size: 1.25rem;
  }
  .parceiros__conteiner {
    max-width: 900px;
  }
  .produtos__titulo {
    margin-left: var(--spacing20);
  }
  .vantagens {
    margin-left: var(--spacing20);
    margin-right: var(--spacing20);
  }
  .vantagens__titulo {
    font-size: 3rem;
  }
  .vantagens__texto {
    font-size: 1.25rem;
  }
  .vantagens__link,
  .vantagens__subtitulo,
  .vantagens__atributos {
    font-size: 1rem;
  }
  .vantagens__atributos {
    padding-bottom: var(--spacing20);
  }
  .parceiros__tituloTexto {
    margin-left: var(--spacing20);
  }
  .footer {
    margin-left: var(--spacing20);
  }
}
@media (max-width: 1100px) {
  .produtos__cardTitutlo {
    font-size: 1.5rem;
  }
  .vantagens {
    gap: 20px;
  }
  .depoimento__texto {
    font-size: 1.25rem;
  }
  .seguros__conteiner {
    margin: 0 auto;
  }
  .seguro__tipo {
    grid-template-columns: 1fr;
    width: 600px;
    justify-items: center;
  }

  .seguro__tipo div,
  .seguros__valor,
  .seguro__tipo h5 {
    grid-column: 1;
  }
  .seguro__tipo h5 {
    margin-bottom: var(--spacing20);
  }
  .seguros__valor {
    grid-row: 2;
    justify-self: center;
    margin-bottom: var(--spacing20);
  }
}
@media (max-width: 900px) {
  .parceiros {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .parceiros__conteiner {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }
  .intro {
    grid-template-columns: 2fr 1fr;
  }
  .intro__h1 {
    font-size: 3rem;
  }
  .intro__paragrafo {
    margin-bottom: 50px;
  }
  .produtos__cards {
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 250px;
    margin: 0 auto;
  }
  .produtos__cardTitutlo {
    margin: 0 0 0 20px;
  }
  .vantagens {
    grid-template-columns: 1fr;
  }
  .vantagens__subtitulo {
    margin-top: var(--spacing32);
  }
  .vantagens__imagem {
    display: none;
  }
  .depoimento {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  .depoimento__img {
    display: none;
  }
  .seguros {
    padding: 50px 0;
  }
  .seguros__titulo {
    margin-left: 20px;
  }
}
@media (max-width: 850px) {
  .seguros__conteiner {
    flex-direction: column;
  }
  .seguro__tipo {
    min-width: 200px;
    width: 50%;
  }
  .seguros__titulo h4 {
    padding-bottom: 20px;
  }
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (max-width: 700px) {
  .menu {
    justify-content: center;
    gap: 30px;
    max-width: max-content;
  }
  .menu__list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__link {
    background-color: var(--p1);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  .intro {
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 120px;
  }
  .intro__h1 {
    font-size: 3rem;
    max-width: 50ch;
  }
  .intro__img {
    display: none;
  }
  .produtos {
    padding-bottom: 70px;
  }

  .vantagens__atributos {
    flex-direction: column;
  }

  .parceiros__tituloTexto {
    font-size: 3rem;
  }
  .parceiros__conteiner {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .produtos {
    padding-top: 50px;
  }
  .produtos__titulo {
    font-size: 2.5rem;
  }
  .produtos__cardTitutlo {
    font-size: 1rem;
  }
  .vantagens__titulo {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .vantagens__texto {
    font-size: 1.25rem;
    margin-top: 50px;
  }
  .seguros {
    padding: 50px 0;
  }
  .seguros__titulo {
    margin: 0px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer_endereço {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .produtos__titulo {
    line-height: 32px;
  }
  .vantagens__titulo {
    font-size: 1.75rem;
  }
  .depoimento__texto {
    font-size: 1rem;
  }
  .depoimento__texto::after,
  .depoimento__texto::before {
    transform: scale(0.5);
  }

  .depoimento__texto::after {
    content: url("../img/icones/quotationmarkdown.svg");
    bottom: -30px;
    right: 15px;
  }
  .depoimento__texto::before {
    top: -30px;
    left: -15px;
  }
  .seguros__titulo h4 {
    font-size: 3rem;
    /* -self: left; */
    align-self: left;
  }
  .seguros__titulo {
    margin: 20px;
    justify-self: left;
  }
  .seguro__tipo {
    min-width: 100px;
    width: 50%;
    padding: 10px 50px 0px 50px;
  }
  .seguros__preço {
    font-size: 1.5rem;
  }
  .seguros__vantagem {
    font-size: 1rem;
  }
  .seguros__link {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
