@import "./header.css";
:root {
  --bg_color: #000000;
  --cor_principal_letras: white;
  --p1: #ffbb00;
}
html {
  color: white;
  background: var(--bg_color);
}
a {
  text-decoration: none;
  color: var(--bg_color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.font-1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 72px;
}
